.loading {
  text-align: center;
  margin-top: 60px;
}

.perfil-card {
  border-radius: 18px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  ion-avatar {
    width: 110px;
    height: 110px;
    border: 3px solid #0079BF;
    border-radius: 50%;
  }
}

.anon-container {
  text-align: center;
  margin-top: 80px;

  ion-icon {
    font-size: 90px;
    color: #0079BF;
  }

  p {
    margin: 10px 0 25px;
    font-size: 1.2rem;
    color: #555;
  }
}