ion-toolbar {
  --background: linear-gradient(90deg, #003B73, #0079BF);
  color: white;
}

ion-card {
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

ion-thumbnail img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

ion-segment {
  margin-bottom: 16px;
}

.loading-container {
  text-align: center;
  margin-top: 80px;
  ion-spinner {
    font-size: 50px;
  }
  p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666;
  }
}