ion-toolbar {
  --background: linear-gradient(90deg, #003B73, #0079BF);
  color: white;
}

ion-card {
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  color: #003B73;
}

ion-item {
  --inner-padding-end: 0;
  margin-bottom: 15px;
}

ion-button {
  margin-top: 20px;
}