.loading-container {
  text-align: center;
  margin-top: 80px;
  ion-spinner {
    font-size: 50px;
  }
}

.vazio {
  text-align: center;
  color: #777;
  margin-top: 80px;

  ion-icon {
    font-size: 80px;
    color: #0079BF;
  }

  p {
    font-size: 1.2em;
    color: #0079BF;
    margin-top: 15px;
  }
}

ion-item {
  border-radius: 10px;
  margin-bottom: 10px;
  --background: #f8f9fb;
}

ion-badge {
  margin-left: 10px;
}